.h4-title{
    color: purple;
}

.input{
    width: 500px;
    text-align: center;
    color: purple;
    font:italic;
    border-radius: 10px;
    outline: purple;
}

.default{
    color: purple;
    font-style: inherit;
    font-weight: bolder;
}